{% extends 'base.html' %} 
{% load static %}
{% block body %}

<section class="discord-rules">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-8 col-lg-6 rules-box">
                <header class="text-center">
                    <img class="header-logo" src="{% static 'hacklahoma.svg' %}">
                    <h1>Discord Rules</h1>
                    <div class="col-sm-12 col-lg-12 text-center">
                        
                    </div>
                </header>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6">
                            <input id="redirect" type="hidden" name="next" value="{% url 'customauth:login' %}" />
                            <script>
                                const discord_id = new URLSearchParams(window.location.search).get('id');
                                document.getElementById("redirect").value = `{% url 'customauth:login' %}` + `?id=${discord_id}`;
                            </script>
                            <input type="submit" class="btn btn-lg btn-block btn-tos" value="Submit" />
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}