<html>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head></head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<body style="background-color: #FFF8E8; width: 100%; margin:0;">
    <div
        style="line-height: 20px; font-weight: normal; color: #777777; background-color: #FFF8E8; z-index: 0; position: absolute; top: 0; left: 0; width: 100%; margin:0; height: 2750px; min-height: 100vh;">
        <center>
            <div style="font-family: Questrial, sans-serif;
              background: #fff;
              box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
              border-radius: 3px;
              padding: 50px!important;
              max-width: 720px;
              display: block;
              z-index: 1;
              text-align: left;
              margin: 50px auto;">
                <center>
                    <img src="https://2021.hacklahoma.org/assets/logo2021.png" alt="Hacklahoma 2021"
                        style="height: 100px; margin-bottom: 40px;">
                </center>
                <h2 style="margin-bottom: 20px; font-size: 16px; color: #777777">Hi {{ first_name }}!</h2>

                <p style="line-height: 20px;
				font-weight: normal;
				color: #777777;
				margin-bottom: 20px;">
                    We're so glad you're coming to {{ event_name }}!
                </p>

                <div style="background: #DEDEDE; height: 1px;"></div>
                
                <center><p><b style="text-decoration: underline">WHAT TO EXPECT</b></p></center>
                <p>Hacklahoma may look different this year, but we have worked hard to put on an event that offers you just as many networking opportunities, workshops, activities, and resources needed for you to complete your hack and grow professionally.</p>
                <p>All hackers are encouraged to hack through the entire event and submit their projects to Devpost for judging to be considered for prizes, however that isn’t required. Everyone enjoys hackathons in different ways, here are some tips to make the most of Hacklahoma 2021!</p>
                
                <center><p><b>Push your boundaries</b></p></center>
                <p>One of Hacklahoma’s goals is to push all of our hackers to be innovative and learn something new. Part of our judging criteria is demonstrating an attempt to learn something- so push yourself to try technologies that are new to you! Running into problems while working on your hack? Don’t worry- we have mentors available to you that can answer questions you have while you’re trying to learn.</p>
                
                <center><p><b>Network</b></p></center>
                <p>Virtual hackathons still have opportunities for you to network with people who can help you get a head start into your career. You will be able to visit any of our sponsors’ virtual booths for a chance to tell them about yourself and learn about their company! We also offer free workshops for hackers to expand your skill-set and help you learn technologies that will boost your resume and help you in your career.</p>
                
                <center><p><b>Have fun!</b></p></center>
                <p>Hopefully this one is obvious :)</p>
                
                <div style="background: #DEDEDE; height: 1px;"></div>
                
                <center><p><b style="text-decoration: underline">OUR EXPECTATIONS</b></p></center>
                <p>Hackers are expected to follow the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH</a>, <a href="https://www.ou.edu/studentconduct/policies.html" target="_blank">OU</a>, and <a href="https://docs.google.com/document/d/1DaGMWYns8mgY0ydCzI94zUEPuxo-90JR6r8CpoPDrBU/edit?usp=sharing" target="_blank">Hacklahoma</a> codes of conduct.</p>

                <div style="background: #DEDEDE; height: 1px;"></div>
                
                <center><p><b style="text-decoration: underline">EVENT SCHEDULE</b></p></center>
                <p>Visit <a href="https://2021.hacklahoma.org/live" target="_blank">2021.hacklahoma.org/live</a> for more information about the schedule and prizes!</p>
                <p>
                    <b>Saturday</b><br />
                    10:00 am - Hacker check-in<br />
                    11:00 am - Opening Ceremony<br />
                    12:00 pm - Hacking starts!<br />
                    12:30 pm - Team building activity <br />
                    1:15-2:15 pm - React Workshop lead by Paycom<br />
                    2:30-3:30 pm - AR Workshop lead by echoAR<br />
                    3:45-4:45 pm - HTML Workshop lead by Hacklahoma Outreach Coordinator, Jennifer Pham<br />
                    5:00-6:00 pm - Design Thinking Workshop lead by OU Alumni, Michael Hollinger<br />
                    6:15-7:15 pm - MLH Cybersecurity Challenge and Bob Ross MS Paint<br />
                    8:00-9:00 pm - Online Escape Room<br />
                    10:00-11:00pm - JackBox
                </p>
                <p>
                    <b>Sunday</b><br />
                    12:00-1:00 am - Cooking Show<br />
                    12:00 pm - Hacking ends!<br />
                    12:45 pm - Closing ceremony
                </p>
                <p>* All times are in Central Standard Time</p>
                
                <div style="background: #DEDEDE; height: 1px;"></div>

                <center><p><b style="text-decoration: underline">WHEN TO LOG ON</b></p></center>
                <p>We ask that hackers start checking in at 10:00 am (CST) on Saturday, February 6. However, you are free to log on any time between now and 12:00 pm, when we begin hacking.</p>
                
                <div style="background: #DEDEDE; height: 1px;"></div>
                
                <center><p><b style="text-decoration: underline">DISCORD</b></p></center>
                <p>We will be hosting this year’s Hacklahoma on Discord. There will be channels for everything you will need, but be sure you start in the channel titled #!start-here. This will give you all of the information you need to check in and get started hacking! We will be sure to send the join link 24 hours before the event. If you have any issues logging into the server, feel free to contact any of the persons below:</p>
                <ul>
                    <li>The Hacklahoma Team: <a href="mailto: Hacklahoma Team <team@hacklahoma.org>">team@hacklahoma.org</a></li>
                    <li>Bibi Dang (Executive Director): <a href="mailto: Bibi Dang <bibi.m.dang-1@ou.edu>">bibi.m.dang-1@ou.edu</a></li>
                    <li>Shelby Huffman (Executive Director): <a href="mailto: Shelby Huffman <shelbyhuffy@ou.edu>">shelbyhuffy@ou.edu</a></li>
                    <li>Sam Fletcher (Technology Director): <a href="mailto: Sam Fletcher <samfletcher@ou.edu>">samfletcher@ou.edu</a></li>
                    <li>Reagan Shirk (Operations Director): <a href="mailto: Reagan Shirk <reaganshirk@ou.edu>">reaganshirk@ou.edu</a></li>
                </ul>

                <div style="background: #DEDEDE; height: 1px;"></div>
                
                <center><p><b style="text-decoration: underline">JUDGING</b></p></center>
                <p>Our judging procedure will look different this year than it has in past years. This year, our judges will spend 2 days looking over your projects to determine which teams will take home our prizes! If you want to be considered in judging, be sure to submit your project to Devpost by Sunday, February 7 at 12:00 pm. You can view the results on <a href="https://hacklahoma21.devpost.com" target="_blank">Devpost</a> or on any of our social media accounts: <a href="https://www.facebook.com/Hacklahoma" target="_blank">Facebook</a>, <a href="https://www.instagram.com/hacklahoma/" target="_blank">Instagram</a>, and <a href="https://twitter.com/hacklahoma" target="_blank">Twitter</a>.</p>
                <p>Judges will be using the following criteria to determine our prize winners:</p>
                <ul>
                    <li><b>Creativity/Individuality: </b>How is your project unique to you? How does it stand out from other projects that are at Hacklahoma, or already out in the world?</li>
                    <li><b>Technical Difficulty: </b>Does it seem feasible that the project was able to be completed in 24 hours? Does the project seem like it was too difficult, too simple?</li>
                    <li><b>Learning: </b>Did you push yourself or minimize your skills and effort? Did you overcome any challenges or did you do it with your eyes closed? The risks you took play a big role here.</li>
                    <li><b>Presentation: </b>Did you submit a presentation or explanation that clearly demonstrates your project, its features, and how well you meet the above criteria?</li>
                    <li><b>Code Submission: </b>Did you submit your source code using GitHub, Google Drive, or any other file/source code sharing services?</li>
                    <li><b>Overall Execution: </b>Overall, how does your project compare to the other projects given the above criteria?</li>
                </ul>

                <p><b>A notice for international participants:</b> Due to university policy, we are unable to ship prizes outside of the United States. This means that international students who choose to participate in Hacklahoma will not be considered in our judging process. However, we still welcome international hackers to take advantage of our activities, workshops, and to make something innovative!</p>

                <div style="background: #DEDEDE; height: 1px;"></div>

                <center><p style="font-size: 20px; margin: 30px 0;"><b><a href="https://discord.gg/4dDphSH6" target="_blank">Click here to join the Discord server</a></b></p></center>

                <div style="background: #DEDEDE; height: 1px;"></div>

                <h3 style=" margin-bottom: 5px;
				    font-size: 16px;
				    line-height: 30px;
					font-weight: normal;
					color: #777777;">
                    Thanks!
                </h3>

                <b style=" color: #FE8826;
						font-size: 16px;
						margin-bottom: 30px;">
                    Hacklahoma Team
                </b>
            </div>

            <div style="margin-top: -30px; text-align: center; font-family: Questrial, sans-serif;">
                <center>
                    <div style="text-align: center;" class="text-center">
                        Stay up to date with Hacklahoma by following our social media!
                    </div>
                    <div style="width: 205px; margin: 20px 0;">
                        <a style="float: left;" href="https://www.facebook.com/Hacklahoma/" target="_blank">
                            <img height="28px" src="https://2021.hacklahoma.org/assets/facebook.png" alt="facebook"
                                style="margin: 0 20px">
                        </a>
                        <a style="float: left;" href="https://twitter.com/hacklahoma/" target="_blank">
                            <img height="28px" src="https://2021.hacklahoma.org/assets/twitter.png" alt="twitter"
                                style="margin: 0 20px">
                        </a>
                        <a style="float: left;" href="https://www.instagram.com/hacklahoma/" target="_blank">
                            <img height="28px" src="https://2021.hacklahoma.org/assets/instagram.png" alt="instagram"
                                style="margin: 0 20px">
                        </a>
                    </div>
                </center>
            </div>

        </center>
    </div>
</body>

</html>